#main-holder {
  width: 450px;
  height: 50%;
  margin: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
}

#login-form {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.error-field::placeholder {
  color: red;
}

.error-field {
  border: none;
  border-bottom: 1px solid red;
  margin-bottom: 50px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 50px;
  outline: none;
}

.login-form-submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}
