body {
  font-family: "Pacifico", cursive;
}

.profile {
  color: white;
  text-align: center;
}

.container {
  width: 450px;
  margin: 0px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #333;
  border-radius: 7px;
  padding: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.label-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.left-column {
  text-align: center;
  justify-content: center;
  color: white;
}

label {
  margin-bottom: 5px;
  color: white;
}

.input-group {
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.edit-button {
  margin-left: 10px;
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #45a049;
}

.profile-button {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: darkgrey;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: gray;
}

#user-email {
  color: #4caf50;
}

#user-password.editing,
#user-display.editing {
  border: 2px solid #4caf50;
  opacity: 1;
  cursor: text;
}

#user-password[readonly],
#user-display[readonly] {
  opacity: 0.7;
  transition: opacity 0.3s ease;
  cursor: default;
  pointer-events: none;
}
