body {
  font-family: 'Lucida Handwriting',cursive;
  margin: 0;
  padding: 0;
  background-color: orange;
  background: url('https://th.bing.com/th/id/OIG.kccuwDfBVQaqWVkUwUrL?pid=ImgGn')
  
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.669); 
  z-index: -1; 
}

header {
  background-color: rgba(255, 98, 0, 0.422);
  color: darkgreen;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid lightgreen; 
}      

h5 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  animation: scrollText 30s linear infinite;
}
@keyframes scrollText {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes glowOutline {
  0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #00fffb, 0 0 30px #00d9ff;
  }
  50% {
      text-shadow: 0 0 20px #fff, 0 0 30px #fbff00, 0 0 40px #fffb00;
  }
  100% {
      text-shadow: 0 0 10px #fff, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
}

h1.glow {
  animation: glowOutline 4s infinite;
}

h2 img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px; 
  right: 10px; 
  border-radius: 50%;
  animation: flipImage 4s infinite;
}
h2 img.left {
  left: 10px; 
  
}

@keyframes flipImage {
  0% {
      transform: perspective(600px) rotateY(0);
  }
  50% {
      transform: perspective(600px) rotateY(180deg);
  }
  100% {
      transform: perspective(600px) rotateY(360deg);
  }
}
main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(250, 250, 210, 0.674);
  box-shadow: 0 0 10px darkblue (0, 0, 0, 0.1);
  border-radius: 5px;
  animation: bounce 1s ease-in-out;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-10px);
  }
}
label {
  display: block;
  margin-bottom: 10px;
  color: darkcyan;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  background-color: rgb(32, 178, 171);
  color: lightgoldenrodyellow;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color:rgba(255, 160, 122, 0.461);
}

#searchResults {
  margin-top: 20px;
}

#searchResults div {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
} 

.recipe {
  border-bottom: 1px solid blue;
  padding: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 0, 0.463);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
