<!DOCTYPE html>
<html lang="en">
  <head class="header">
    <link rel="stylesheet" href="static/style.css" />
    <nav>
      <ul>
        <li><a href="/login-page">User Login</a></li>
        <li><a href="/registration-page">User Registration</a></li>
        <li><a href="/display-page">Display Page</a></li>
        <li><a href="/">Home Page</a></li>
      </ul>
    </nav>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dish Information</title>
    <link rel="stylesheet" href="/static/display-page.css" />
  </head>
  <body>
    <div id="dataContainer" class="center-container"></div>

    <script type="text/javascript" src="/static/display-page.js"></script>
  </body>
</html>
