<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe App</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/user_profile.css" />
  </head>
  <header>
    <nav class="main-nav">
      <ul>
        <li><a href="#" onclick="loadContent('login-page')">User Login</a></li>
        <li>
          <a href="#" onclick="loadContent('registration-page')"
            >User Registration</a
          >
        </li>
        <li><a href="#" onclick="loadContent('home-page')">Home Page</a></li>
        <li>
          <a href="#" onclick="loadContent('ingredients-page')"
            >Ingredients Page</a
          >
        </li>
        <li>
          <a href="#" onclick="loadContent('recipes_data')">Recipes Page</a>
        </li>
        <li>
          <a href="#" onclick="loadContent('searchstyle')">Search Page</a>
        </li>
        <li>
          <a href="#" onclick="loadContent('display-page')">Display Page</a>
        </li>
      </ul>
    </nav>
    <nav class="profile-nav">
      <div class="label"></div>
      <ul>
        <li class="profile">
          <a href="/user_logging_process">Guest</a>
          <div class="dropdown">
            <a href="/user_logging_process">Login</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <body>
    <div id="loaded-content" class="content-section"></div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="static/navbar.js" defer></script>
  </body>
</html>
