<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe App</title>
  </head>
  <body>
    <header>
      <link rel="stylesheet" href="static/style.css" />
      <nav>
        <ul>
          <li><a href="/login-page">User Login</a></li>
          <li><a href="/registration-page">User Registration</a></li>
          <li><a href="/display-page">Display Page</a></li>
          <li><a href="/">Home Page</a></li>
          <li><a href="/ingredients-page">Ingredients Page</a></li>
          <li><a href="/recipe-page">Recipes Page</a></li>
          <li><a href="/search-page">Search Page</a></li>          
        </ul>
      </nav>
    </header>
    <div class="content">
      <h1>Welcome to the Culinary Exchange Hub</h1>
    </div>
  </body>
</html>
