<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Cookies, sugar</td>
      <td>1</td>
      <td>Bake the cookies in the Oven\nadd whip cream</td>
    </tr>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>Olives</td>
      <td>2</td>
      <td>Bake pizza\nadd olives</td>
    </tr>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>Rice, 2 Green Cardamoms 1 Black Cardamom 2 Cloves 1 small piece of Cinnamon1 small Bay Leaf Salt to taste</td>
      <td>3</td>
      <td>First soak the rice in water. Then prepare the gravy.When gravy is half cooked, start to cook the rice.Assemble rice and gravy and cook again.</td>
    </tr>
    <tr>
      <th>0</th>
      <td>11</td>
      <td>egg, masala, onions</td>
      <td>12</td>
      <td>Boil the egg. Add the flavours, add onions</td>
    </tr>
    <tr>
      <th>0</th>
      <td>12</td>
      <td>egg, masala, onions</td>
      <td>12</td>
      <td>Boil the egg. Add the flavours, add onions</td>
    </tr>
  </tbody>
</table>