<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>egg, masala, onions</td>
      <td>1</td>
      <td>Boil the egg. Add the flavours, add onions</td>
    </tr>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>Chicken, water, coriander</td>
      <td>2</td>
      <td>Boil the chicken. Boil water, add onions</td>
    </tr>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>Olives, Onions, pepper</td>
      <td>3</td>
      <td>Bake the pizza, add olives and onions</td>
    </tr>
  </tbody>
</table>