<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login-page.css" />
    <title>User Login</title>
  </head>
  <body>
    <main id="main-holder">
      <h2 id="login-header">User Login</h2>
      <div id="login-error-msg-holder">
        <p id="login-error-msg"></p>
      </div>
      <form id="login-form" name="myform">
        <input
          type="email"
          name="email"
          id="email"
          class="login-form-field"
          placeholder="Enter your email"
          required
        />

        <input
          type="password"
          name="password"
          id="password"
          class="login-form-field"
          placeholder="Password"
        />
        <input
          class="login-form-submit"
          type="button"
          value="Login"
          onclick="url()"
        />
        <p class="forgot-password-link" onclick="toggleForm('forgot-password')">
          Forgot Password?
        </p>
      </form>
      <form
        id="forgot-password-form"
        name="forgotPasswordForm"
        style="display: none"
        class="form-container"
      >
        <input
          type="email"
          name="forgot-email"
          id="forgot-email"
          class="login-form-field"
          placeholder="Enter your email"
          required
        />

        <input
          type="password"
          name="new-password"
          id="new-password"
          class="login-form-field"
          placeholder="New Password"
        />

        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          class="login-form-field"
          placeholder="Confirm New Password"
        />

        <input
          class="login-form-submit"
          type="button"
          value="Reset Password"
          onclick="resetPassword()"
        />

        <p class="forgot-password-back" onclick="toggleForm('login')">
          Back to Login
        </p>
      </form>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/login-page.js"></script>
  </body>
</html>
