<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Cup cakes</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>Pizza</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>Vegetable Briyani</td>
      <td>6</td>
    </tr>
    <tr>
      <th>0</th>
      <td>12</td>
      <td>Egg Curry</td>
      <td>9</td>
    </tr>
  </tbody>
</table>