<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Search</title>
    <style>
    </style>
  </head>
  <body>
    <header>
      <h1>Recipe Search</h1>
    </header>
    <main>
      <label for="recipeTitle">Enter Recipe Title:</label>
      <input type="text" id="recipeTitle" placeholder="Type recipe title..." />
      <button onclick="searchRecipe()">Search</button>

      <div id="searchResults"></div>
    </main>

    <script type="text/javascript" src="/static/searchstyle.js"></script>
    <link rel="stylesheet" href="static/searchstyle.css" />

  </body>
</html>
